.antdCard{
    width: 250px;
    /*min-height: 100%;*/
    flex: 1 1 100%;
    height: 565px;
    margin-bottom: 15px;
}

.bookInfo{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}